/* ---------- متن اصلی ---------- */

@font-face {
  font-family: 'Samim';
  src: url('/fonts/Samim-FD.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'VazirLight';
  src: url('/fonts/Vazir-Light-FD-WOL.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SamimBold';
  src: url('/fonts/Samim-Bold-FD.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn.woff2') format('woff2');
  font-display: swap;
}
/* -------------------------------------- */

@font-face {
  font-family: 'AvenirLTProMedium';
  src: url('/fonts/AvenirLTProMedium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTProLight';
  src: url('/fonts/AvenirLTProLight.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'AvenirLTProHeavy';
  src: url('/fonts/AvenirLTProHeavy.woff2') format('woff2');
  font-display: swap;
}
/* مناسب برای اعداد */
@font-face {
  font-family: 'AvenirLTProBook';
  src: url('/fonts/AvenirLTProBook.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'AvenirLTProBlack';
  src: url('/fonts/AvenirLTProBlack.woff2') format('woff2');
  font-display: swap;
}

/* ---------- استفاده از fallback برای متن ---------- */
body {
  font-family:
    'Samim', 'VazirLight', 'Tahoma', 'Arial', sans-serif;
}

/* ---------- دکمه‌ها ---------- */
button {
  font-family: 'SamimBold', 'Samim', 'Arial', sans-serif;
}
