@import './fonts.css';
@import 'tailwindcss';

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1178px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1792px;
  --breakpoint-4xl: 2048px;
  --breakpoint-5xl: 2304px;
  --breakpoint-6xl: 2560px;
  --breakpoint-7xl: 3000px;
  --breakpoint-8xl: 3500px;
  --breakpoint-9xl: 4000px;
  --breakpoint-10xl: 4500px;
  --breakpoint-11xl: 5000px;
  /* ------------- */
  /* heigth */

  
}
/* text-xs      → 0.75rem  (12px)
text-sm      → 0.875rem (14px)
text-base    → 1rem     (16px) ← پیش‌فرض
text-lg      → 1.125rem (18px)
text-xl      → 1.25rem  (20px)
text-2xl     → 1.5rem   (24px)
text-3xl     → 1.875rem (30px)
text-4xl     → 2.25rem  (36px)
text-5xl     → 3rem     (48px)
text-6xl     → 3.75rem  (60px)
text-7xl     → 4.5rem   (72px)
text-8xl     → 6rem     (96px)
text-9xl     → 8rem     (128px) */


/* Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


@layer components{
  .input-text{
@apply 5xl:text-[20px]  5xl:placeholder:text-[20px] border border-white/10 bg-white/5 w-full rounded-xl  p-3 font-[Samim] text-[18px] text-white outline-none placeholder:font-[Samim] placeholder:text-[12px] focus:font-[Samim]
  }
  .input-number{
@apply 5xl:text-[20px] 5xl:placeholder:text-[20px] w-full rounded-xl  border border-white/10 bg-white/5  p-3 font-[AvenirLTProMedium] text-[18px] text-white outline-none placeholder:font-[AvenirLTProMedium] placeholder:text-[12px] focus:font-[AvenirLTProMedium]
   
  }
   .input-date{
      @apply  w-full rounded-xl 5xl:text-[20px] 5xl:placeholder:text-[20px] bg-white/10 p-3 text-[18px]  text-white outline-none placeholder:font-[SamimBold] 
    }

    .btn-submit{
      @apply 5xl:text-[25px] col-span-4 my-2 cursor-pointer rounded-lg bg-linear-to-tl from-green-900 to-green-500 px-10 py-3 font-[Samim] transition-all delay-100 duration-150 ease-in-out hover:scale-105 hover:rounded-xl
    }

    .add-line{
      @apply 5xl:text-[20px] w-fit cursor-pointer rounded-xl bg-linear-to-tl from-green-900 to-green-500 px-4 py-2 font-[Samim] transition-all delay-100 duration-150 ease-in-out hover:scale-105
    }
    .remove-line{
      @apply  5xl:text-[20px] cursor-pointer rounded-xl bg-linear-to-bl from-red-500 to-red-800 px-4 py-2 font-[Samim] transition-all delay-100 duration-150 ease-in-out hover:scale-105 hover:bg-red-500/60
    }
  
}


